# ======================
# Unity
# ======================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# ======================
# IDE
# ======================
.vs/
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
graduation_works/Assembly-CSharp-firstpass.csproj
graduation_works/Assembly-CSharp.csproj
# ======================
# Python (venv)
# ======================
venv/
.venv/
env/
bin/
lib/
share/
Include/
pyvenv.cfg
*.py[cod]
__pycache__/

*$py.class

# ======================
# Python Distribution / Build
# ======================
dist/
build/
*.egg-info/

# ======================
# ML server runtime artifacts
# ======================
server/.env
server/*.pkl
server/*.log
server/*.out
server/~*.out
server/*.sql